<% provide(:title, 'Geotechnical Instrumentation and Monitoring') %>

<br />

<div class="service-page">


<div id="gallery-services">
    <div id="panel">
        <img id="largeImage-services" src= <%=asset_path "soil1.jpg" %> />
        
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="1st image description">
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="2nd image description">
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="3rd image description">
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="3rd image description">
    </div>
</div>

	<div class="span5">
		<h1>
			Geotechnical Instrumentation and Monitoring
		</h1>
			<img src= <%= asset_path 'yellow-line.png' %> />

	<br />


		<div class="service-list">

			<ul>
				1. Deformation of Ground and Structure Observation.
			</ul>
				<li>
					Inclinometer (Manual and Automatic)
				</li>
				<li>
					Electrolevel Sensor
				</li>
				<li>
					Tilt and Crack Meter
				</li>
				<li>
					Load Cells
				</li>
				<li>
					Settlement Marker and Plate
				</li>
				<li>
					Deep Settlement Gauge
				</li>
				<li>
					Multilevel Settlement Gauge
				</li>
				<li>
					Covergence and Divergence Measurement of Structure
				</li>
				<li>
					3D measurement of Structure and Tunnel with Automatic Systems
				</li>
		<br />
			<ul>
				2. Ground Water Observation.
			</ul>
				<li>
					Water Standpipe
				</li>
				<li>
					Peizometer
				</li>
				<li>
					Strain Gauge
				</li>
		<br />
			<ul>
				3. Monitoring Service for Construction.
			</ul>
				<li>
					Vibration Monitoring
				</li>
				<li>
					Noise Monitoring
				</li>
		<br />
			<ul>
				4. Data Management and Monitoring System.
			</ul>
				<li>
					Data Automatic Logging and Real Time Monitoring System
				</li>
				<li>
					Remote Monitoring System
				</li>

		</div>

	</div>
</div>

