<% provide(:title, 'Home') %>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Soil Investigation and Instrumentation" content="Specialist in Soil Investigation and Instrumentation Monitoring Works in Singapore">
    <meta name="GeoLS Pte Ltd" content="Soil Investigation and Instrumentation">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>GeoLS Pte Ltd</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/gls-office.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>GeoLS Pte Ltd</h1>
              <p>The specialist in soil investigation, geotechnical instrumentation and monitoring </p>

            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/marine_si.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Soil Investigation Works</h1>
              <p>We are one of the leading Soil Investigation Services company in Singapore.</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/itmsoil-hq.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>The Official Distributor of itmsoil</h1>
              <p>We are a part of itmsoil group, a world leader of premium quality geotechnical and structural monitoring instrumentation.</p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="assets/tunnel.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Fourth slide" alt="Fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Tunnel Monitoring and Instrumentation</h1>
              <p>We provide Instrumentation and Monitoring services.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


      <!-- START THE FEATURETTES -->


      <div class="row featurette">
        <div class="col-md-7">
          <h2><a href="<%= services_soil_investigation_path %>">Soil Investigation Services</a></h2><br/>
          <p class="lead">We offer a comprehensive coverage of Geotechnical Investigation works in both soil and rock, planning and designing package for instrumentation works in structure and building development, reclamation and tunneling projects, inclusive of manual type and real time automatic instrumentation systems, together with alarm via GSM Mobile.</p>
          <p><a href="<%= services_soil_investigation_path %>" class="btn btn-warning">Read More &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="assets/soil_investigation_home.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="assets/instrumentation_home.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>

        <div class="col-md-7">
          <h2><a href="<%= services_geotechnical_monitoring_path %>">Geotechnical Instrumentation and Monitoring Works</h2></a><br/>
          <p class="lead">We provides Geotechnical Instrumentation from Inclinometer System, Vibration and Noise Monitoring, Recharge well, to Tiltmeter System. We also provide automatic monitoring system  to monitor the data given from the instruments to analyze condition of the soil or structures.</p>
          <p><a href="<%= services_geotechnical_monitoring_path %>" class="btn btn-warning">Read More &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2><a href="<%= services_instrumentation_sales_path %>">Instrumentation Sales and Distribution</h2></a><br/>
          <p class="lead">We are the official itmsoil distributor in Singapore. itmsoil specializes in the design, development, manufacture, and installation of a wide range of geotechnical and structural instrumentation, which embody the highest standards of engineering with the latest technology and an accredited quality control system to achieve maximum reliability and long term performance.</p>
          <p><a href="<%= services_instrumentation_sales_path %>" class="btn btn-warning">Read More &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="assets/instrumentation_sales_home.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
      </div>
      <hr class="featurette-divider">

            <!-- Three columns of text below the carousel -->

      <div class="row marketing">
        <div class="col-lg-4">
          <img class="img-circle" src="assets/logo-small.jpg" data-src="holder.js/300x300" alt="Generic placeholder image">
          <h2>About Us</h2>
          <p>We are specializing in Geotechnical Engineering with a vast experiences for more than 10 years in the industry. It was incorporated in June 29th, 2001.</p>
          <p><a href="<%= company_profile_path %>" class="btn btn-warning">Read More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="assets/news-home.jpg" data-src="holder.js/300x300" alt="Generic placeholder image">
          <h2>News</h2>
          <p>GeoLS Pte Ltd has become one of the flagship in Soil Investigation Works and Geotechnical Engineering. We are certified with ISO 9001 for our safety workplace.</p>
          <p><a href="<%= news_path %>" class="btn btn-warning">Read More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="assets/contacts.jpg" data-src="holder.js/300x300" alt="Generic placeholder image">
          <h2>Contact Us</h2>
          <p>Please do not hesitate to contact us if you have any enquiry by telephone or email. Our customer service will be glad to assist. Please visit our Contact page for more detail.</p>
          <p><a href="<%= contact_path %>" class="btn btn-warning">Read More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

      </div>


    </div>
    <hr class="featurette-divider">
        <div class="jumbotron">
          <h1>We are proudly certified with:</h1><br/>
            <div class="row">
            <img src="assets/iso9001.png">
            <img src="assets/ohsas.png">
            <img src="assets/bizstar.jpg">
        </div>
      </div><!-- /.container -->
  </body>
