<% provide(:title, 'Pile Testing') %>

<br />

<div class="service-page">

<div id="gallery-services">
    <div id="panel">
        <img id="largeImage-services" src= <%=asset_path "soil1.jpg" %> />
        
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="1st image description">
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="2nd image description">
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="3rd image description">
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="3rd image description">
    </div>
</div>

	<div class="span5">
		<h1>
			Pile Testing
		</h1>
			<img src= <%= asset_path 'yellow-line.png' %> />

	<br />
		<p>
			We also provide pile testing as one of our services. A pile integrity test (also known as low strain dynamic test, sonic echo test, and low strain integrity test) is one of the methods for assessing the condition of piles or shafts. It is cost effective and not very time consuming.
		</p>
		<p>
			This procedure is performed with a hand held hammer to generate an impact, an accelerometer or geophone placed on top of the pile to be tested to measure the response to the hammer impact, and a data acquisition and interpretation electronic instrument.
		</p>
		<p>
			The test works well in concrete or timber foundations that are not excessively slender. Usually the method is applied to recently constructed piles that are not yet connected to a structure.
		</p>
	</div>
</div>
