<% provide(:title, 'Soil Investigation') %>
		
<br />

<div class="service-page">

<div id="gallery-services">
    <div id="panel">
        <img id="largeImage-services" src= <%=asset_path "soil1.jpg" %> />
        
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="1st image description">
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="2nd image description">
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="3rd image description">
    </div>
    <div id="thumbs">
        <img src= <%=asset_path "soil1.jpg" %> alt="3rd image description">
    </div>
</div>

	<div class="span5">
		<h1>
			Soil Investigation and Lab Testing
		</h1>
			<img src= <%= asset_path 'yellow-line.png' %> />

	<br />

		<div class="service-list">

			<li>
				Boring work in soil and rock.
			</li>
			<li>
				Soil Sampling (undisturbed and disturbed)
			</li>
			<li>
				Standard Penetration Test.
			</li>
			<li>
				In-Situ Vane Shear and Permeability Test.
			</li>
			<li>
				Pressuremeter Test.
			</li>
			<li>
				Cone Penetration Test.
			</li>
			<li>
				In-Situ Permeability Test.
			</li>
			<li>
				Ground Water Sampling
			</li>
			<li>
				Triial Strength Test
			</li>
			<li>
				Rock Testing
			</li>
			<li>
				Volume Change Test
			</li>

		</div>

	</div>
</div>
