<footer class="footer">

  <div class="row-footer">
    <div class="footer-container">
      
    <div id="span-footer">
      <h5> Quick Links </h5>
    </br>
      <li><%= link_to "About",   company_profile_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li><%= link_to "News", news_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
  </div>

      <div id="span-footer">
      <h5> Services </h5>
    </br>
      <li><%= link_to "Soil Investigation",   services_soil_investigation_path %></li>
      <li><%= link_to "Instrumentation and Monitoring", services_geotechnical_monitoring_path %></li>
      <li><%= link_to "Pile Testing", services_pile_testing_path %></li>
      <li><%= link_to "Instrumentation Sales and Distribution", services_instrumentation_sales_path %></li>
  </div>

      <div id="span-footer">
      <h5> Affiliation </h5>
    </br>
      <p><a href="http://www.itmsoil.com" target="blank">itmsoil</a></p>
      <p>Geolab Technology Limited</p>
  </div>

      <div id="span-footer">
      <h5> Location </h5>
    </br>
  <address>
    <strong> GeoLS Pte Ltd </strong>
    <br>
      61 Kaki Bukit Ave 1, #04-30
    <br>
      Shun Li Industrial Park
    <br>
      Singapore, 417943
    <br>
    <abbr title="Phone">P:</abbr>
      +65 6546 5585
    <br>
    <abbr title="Fax">F:</abbr>
      +65 6546 5595
    <br>
    <abbr title="Email">E:</abbr>
      <a href="mailto:admin@geols.com.sg">
        admin@geols.com.sg </a>
  </address>

  </div>
</div>

<br />

  <div id="copyright">
    GeoLS Pte Ltd @ Copyright 2012
  </div>
</div>

</footer>