
<div class="footer">

  <div class="row-footer">
      
    <div class="span-footer">
      <h5> Quick Links </h5>
      <li><%= link_to "About",   company_profile_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li><%= link_to "News", news_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </div>

    <div class="span-footer">
      <h5> Services </h5>
      <li><%= link_to "Soil Investigation",   services_soil_investigation_path %></li>
      <li><%= link_to "Instrumentation and Monitoring", services_geotechnical_monitoring_path %></li>
      <li><%= link_to "Instrumentation Sales and Distribution", services_instrumentation_sales_path %></li>
    </div>

      <div class="span-footer">
      <h5> Affiliation </h5>
      <p><a href="http://www.itmsoil.com" target="blank">itmsoil</a></p>
      <p>SA Geolab International Pte Ltd</p>
    </div>

    <div class="span-footer">
      <h5> Location </h5>
    <address>
     <p>GeoLS Pte Ltd</p>
     <p>61 Kaki Bukit Ave 1, #04-30</p>
     <p>Shun Li Industrial Park</p>
     <p>Singapore, 417943</p>

    <p>P: +65 6546 5585</p>
    <p>F: +65 6546 5595</p>
    <p>E: <a href="mailto:admin@geols.com.sg">
        admin@geols.com.sg </a></p>
  </address>

  </div>
</div>

  <div id="copyright">
    GeoLS Pte Ltd @ Copyright 2014
  </div>
</div>