<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="navbar-container">
          

          <nav>
            <ul class="nav pull-right">
              <id class="img-header">
              <img src= <%= asset_path 'logo_transparent.png' %> />
            </id>

              <%= link_to "GeoLS Pte Ltd", root_path, id: "logo" %>


                <li><%= link_to "Home", root_path %></li>

                  <li class="dropdown" id="menu1">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="<%= services_path %>">
                        Services <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= services_soil_investigation_path %>">Soil Investigation</a></li>
                            <li><a href="<%= services_geotechnical_monitoring_path %>">Geotechnical Instrumentation and Monitoring</a></li>
                            <li><a href="<%= services_pile_testing_path %>">Pile Testing</a></li>
                            <li><a href="<%= services_instrumentation_sales_path %>">Instrumentation Sales and Distribution</a></li>
                        </ul>

                  <li><%= link_to "Company Profile", company_profile_path %></li>
                  <li><%= link_to "News", news_path %></li>
                  <li><%= link_to "Contact Us", contact_path %></li>


                </li>   
            </ul>
          </nav>
        </div>
      </div>

</header>