<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= image_tag('logo-transparent.png') %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar">
          </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>      
    </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %><Home></li>
            <li><%= link_to "About GeoLS Pte Ltd", company_profile_path %></li>
            
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="<%= services_path %>"> Our Services <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= services_soil_investigation_path %>">Soil Investigation</a></li>
                <li><a href="<%= services_geotechnical_monitoring_path %>">Geotechnical Instrumentation and Monitoring</a></li>
                <li><a href="<%= services_instrumentation_sales_path %>">Instrumentation Sales and Distribution</a></li>

              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "News", news_path %></li>
            <li><%= link_to "Contact Us", contact_path %></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
